[submodule "11.Elevator/lib/forge-std"]
	path = 11.Elevator/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "12.Privacy/lib/forge-std"]
	path = 12.Privacy/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
